*{
    padding: 0;
    margin: 0;
}
/*_---------------Phone-----------*/
.phone{
    width: 60%;
    margin: auto;
    margin-right: 1rem;
}
.phone img{
    background-color: white;
    width: 33rem;
    height: 40rem;
    margin-left: 3rem;

}
/*_---------------Phone-----------*/

.container1{
    width: 80%;
    display: flex;
}
.caixa-1{
    width: 36%;
    margin: auto;
}

.imagem {
    border: 2px solid whitesmoke;
    background-color: white;
    margin-top: 2rem;
}

.logo{
    width: 11rem;
    margin: 0px 16%;

}
.perfil{
    width: 6rem;
    margin: 0px 30%;
    clip-path: circle();
}
.keep-one{
    background-color: #419ce2;
    color: white;
    padding: 8px;
    border-radius: 0.3rem;
}
.remove{
    color:  #419ce2;
}
/*------------------------------------------------------------*/
.caixa{
    width: 13rem;
    margin: 1.5rem 12%;
    text-align: center;
    font-family: sans-serif;
    height: 3rem;

}
.caixa p a{
    text-decoration: none;

}
.caixa p{
    margin-top:1rem;
}
.caixa-2{
    border: 2px solid whitesmoke;
    margin: auto;
    margin-top: 0.8rem;
    height: 4rem;
    background-color: white;
}
.texto p{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 1rem;
    margin-bottom: 4px;
}
.sub-caixa{
    width: 70%;
    margin: auto;
}
.sub-caixa span a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color:  #419ce2;
}
/*---------------------------------*/
.get{
    margin-top: 1rem;
}
.get p {
    margin-bottom: 1rem ;
    text-align: center;
    font-family: sans-serif;
}

/*--------------------IMAGEM--------*/
.app{
    display:flex;
}
.app .app2{
    width: 6rem;
    height: 2rem;
    margin-left: 1.5rem;
}
.app .app3{
    width: 6rem;
    height: 2rem;
    margin-left: 1.5rem;
}